<div *ngIf=isLoggedIn()>
	<p>
	  Howdy! Here's a list of awesome computer scientists.
	  Do you know any others? Add to the list yourself.
	</p>

	<form (submit)="addName()">
	  <input [(ngModel)]="newName" placeholder="Awesome Computer Scientist">
	  <button class="btn btn-primary" type="submit">Add</button>
	</form>


	<ul>
	  <li *ngFor="#name of nameListService.get()">{{name}}</li>
	</ul>
	<button class="btn btn-primary" type="submit" (click)=onClickLogout()>Logout</button>
</div>
<div *ngIf=!isLoggedIn()>
	<p>
		Welcome! Some stuff about the app will go here, if/when you are logged in this route will be replaced with the logged in home page.
	</p>
	<button class="btn btn-primary" type="submit" (click)=onClickLogin()>Login</button>
</div>