<div *ngIf=isLoggedIn()>
  <h2>Welcome back {{pageModel.name}}! Today is {{pageModel.date | date}}</h2>
	<form *ngIf="model" (ngSubmit)="onSave()">
		<tr *ngFor="#id of model.reflection_ids">
			<td><reflection [id]="id" [changeTrigger]="changeTrigger"></reflection></td>
		</tr>
		<button class="btn btn-primary" type="submit">Save</button>
	</form>
  <br>
	<button class="btn btn-primary" (click)=onClickLogout()>Logout</button>
</div>
<div *ngIf=!isLoggedIn()>
	<p>
		Welcome! Some stuff about the app will go here, if/when you are logged in this route will be replaced with the logged in home page.
	</p>
	<button class="btn btn-primary" type="submit" (click)=onClickLogin()>Login</button>
</div>
