<div class="page-header">
	<h2>Welcome back, {{pageModel.name}}!</h2>
	<p>Today is {{pageModel.date | date:'EEEE, MMMMd'}}. Let's get started on your writing!</p>
</div>
<form *ngIf="model" (ngSubmit)="onSave()">
	<tr *ngFor="#id of model.reflection_ids">
		<td><reflection [id]="id" [changeTrigger]="changeTrigger"></reflection></td>
	</tr>
	<button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-save"></span> Save</button>
</form>
<br>
<button class="btn btn-primary" (click)=onClickLogout()>Logout</button>
